* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Lato', 'san-serif';
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f8f9fa;
}


/*---Header---*/


/*---top header---*/

.header {
    float: left;
    width: 100%;
    height: 10.4rem;
    border-bottom: 2px solid red;
    background-color: white;
    overflow: visible;
}

.top_header {
    float: left;
    width: 100%;
    height: 20%;
    background-color: #7f8c8d;
    overflow: hidden;
}

.title_top_header {
    float: left;
    width: 80%;
    margin-left: 10%;
    line-height: 2rem;
}

.title_top_header li a {
    padding: 0 1.5rem 0 0;
    color: white;
    font-size: 12px;
}


/*---end top header---*/


/*---main header---*/

.main_header {
    float: left;
    width: 100%;
}

.title_main_header {
    width: 80%;
    margin-left: 10%;
}

.main_header_title {
    float: left;
    width: 80%;
    margin: 0 0 0 0!important;
    padding: 0 0 !important;
}

.logo_img {
    float: left;
    min-width: 7rem;
    margin-left: -1rem;
    padding-right: 8%;
}

.logo_img img {
    width: 11rem;
}

.logo_img_rps {
    min-width: 6rem;
}

.logo_img_rps img {
    width: 6rem;
}

.search_box {
    float: left;
    width: 70% !important;
    position: relative;
}

.search_btn {
    float: left;
    margin-top: 0.4rem;
    position: absolute;
    margin-left: 95%;
    color: black;
}

.search_btn:hover {
    color: orange;
}

.header_funtion {
    float: left;
}

.header_funtion_title {
    float: left;
    margin-left: 1.5rem;
}

.header_funtion_title i {
    float: left;
    font-size: 25px;
    color: #2c3e50;
    line-height: 5rem;
}

.header_funtion_title p {
    margin-top: 1rem;
}

.header_funtion_title a {
    float: left;
}

.header_funtion_title span {
    float: left;
    margin-left: 0.7rem;
    color: #34495e;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0.2rem;
}

.header_funtion_title span:hover {
    color: orange;
}

.header_funtion_title span small {
    color: #7f8c8d;
    font-weight: 500;
}


/*---login---*/

.modal_login_edit {
    max-width: 850px !important;
}

.modal_login_show {
    height: 35rem!important;
}

.modal_title {
    width: 100%;
}

.popup_login_title {
    width: 50%;
}

.modal_left {
    float: left;
    width: 40%;
    height: 100%;
}

.modal_left img {
    width: 100%;
    margin-top: 0.4rem;
}

.modal_right {
    float: right;
    margin-top: 3rem;
    width: 60%;
    height: 100%;
}

.login_form {
    width: 80%;
    margin-left: 10%;
}

.forgot_pass {
    float: left;
    width: 100%;
}

.forgot_pass a {
    font-size: 13px;
}

.login_form button {
    float: left;
    margin-top: 0.7rem;
    width: 100%;
}

.login_api {
    float: left;
    width: 100%;
    margin-top: 1rem;
}

.login_api ul li {
    float: left;
    width: 30%;
    height: 2rem !important;
    margin-left: 0.6rem;
}

.login_api ul li a {
    width: 100%;
    height: 3rem!important;
    border: 2px solid #bdc3c7;
    border-radius: 7px;
}

.login_api ul li a:hover {
    color: orange;
    border: 2px solid orange;
    border-radius: 7px;
}

.login_api ul li a i {
    margin-left: 40%;
    line-height: 3rem;
}

.register {
    margin-top: 0.1rem;
}

.modal_left_register {
    float: left;
    width: 40%;
    height: 100%;
}

.modal_left_register img {
    width: 100%;
    margin-top: 0.4rem;
}

.modal_right_register {
    float: right;
    margin-top: 0.4rem;
    width: 55%;
    height: 100%;
}

.modal_right_register span {
    width: 7rem;
    height: 2rem;
}

.modal_right_register button {
    float: left;
    width: 98%;
    margin-left: 2%;
}


/*--main nav--*/

.main_nav {
    float: left;
    margin-top: -0.8rem !important;
    margin-left: 6.5% !important;
}

.main_nav_title li {
    float: left;
    margin-left: 1rem;
}

.main_nav_title li a {
    font-weight: 500;
    color: #2f3640 !important;
}

.main_nav_show {
    z-index: 2;
    background-color: white!important;
}


/*---end main header---*/


/*---end header---*

/*--main_page--*/

.main_page {
    float: left;
    width: 100%;
    margin-top: 0.05rem;
    background-color: #f8f9fa;
}


/*--bath--*/

.bath {
    float: left;
    width: 100%;
    border-bottom: 1px solid#ecf0f1;
}

.bath ol {
    background-color: #f8f9fa !important;
    padding: 10px 0 0 10px;
}

.bath_edit {
    margin-left: 9.3%;
}


/*--end bath--*/

.item {
    max-height: 24rem;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #ecf0f1;
    transition: 0.3s linear;
    overflow: hidden;
    margin-top: 0.5rem;
}

.item:hover {
    box-shadow: 0 8px 8px 0 rgba(103, 151, 255, .11), 0 12px 18px 0 rgba(103, 151, 255, .11);
    border: 2px solid orange;
}

.item_img {
    max-height: 70%;
}

.item_img img {
    width: 90%;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.3s;
}

.item_img img:hover {
    transform: scale(1.05);
}

.item_title {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5px;
}

.item_title a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.item_title a:hover {
    color: rgb(233, 77, 77);
    text-decoration: none;
}

.item_price {
    float: left;
    width: 100%;
    margin-left: 5%;
    font-size: 18px;
    border-radius: 5px;
    color: #c0392b;
    font-weight: 600;
}

.buy_now {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.buy_now button {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.buy_now button:hover {
    background-color: red;
}


/*-banner-*/

#banner {
    width: 80%;
    margin-left: 10%;
    z-index: 1;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/*--end banner--*/


/*--footer--*/

.footer {
    float: left;
    margin-top: 3rem;
    width: 100%;
    background-color: #353b48;
}

.footer_title {
    float: left;
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
}

.footer_title ul {
    margin-left: 0 !important;
}

.footer_title h1 {
    font-size: 25px;
    margin-bottom: 2rem;
    color: white;
}

.footer_title ul li {
    margin-bottom: 1rem;
}

.footer_title ul li a {
    color: #bdc3c7;
    font-size: 18px;
    font-weight: 400;
}

.footer_title ul li a:hover {
    text-decoration: none;
    color: white;
}

.footer_title ul li a i {
    width: 2%;
}

.footer_title ul li a span {
    margin-left: 0.8rem;
}

.footer_title ul li a img {
    margin-left: -0.8rem;
    width: 70%;
}

.socialNetwork a {
    color: white;
    font-size: 13px;
}

.socialNetwork a:hover {
    color: orange;
}